$primaryColor: rgb(54, 35, 7);
$secondaryColor: rgb(250,250,250);
$fontColor: #0d0c3f;
$footerColor: rgb(17,17,17);
$secondaryFontColor: #E4007F;
$menuColor: rgb(250,250,250);

$defaultFont: "Roboto", sans-serif;
$lightWeight: 300;
$normalWeight: 400;
$boldWeight: 700;

$gutter: 16px;